
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="introduce">
    <div class="container">
        <div class="row">
            <h2 class="mt-4">Giới thiệu về T-house</h2>
            <div class="intro-detail">
                <h3>1. Nguyên nhân có sự xuất hiện của T-house</h3>
                <p>
                    Nhanh.vn có mặt để giải quyết những khó khăn cho chủ cửa hàng và người bán hàng. Đối với một chủ
                    shop khi mới bắt đầu kinh doanh thì thường kinh doanh ở mô hình nhỏ do vậy khi quản lý những sản
                    phẩm, sổ sách thu chi, nhân viên,... thì chưa phức tạp. Tuy nhiên khi đã kinh doanh ổn định và
                    muốn mở rộng mô hình kinh doanh của mình thì những việc như trên rất khó quản lý nếu không cẩn
                    thận sẽ dẫn đến việc mất hàng, dòng tiền không rõ ràng, không quản lý được hết nhân viên bán
                    hàng,... Còn đối với người bán hàng thì một ngày phải biết rõ được lượng hàng đã bán ra, doanh
                    thu bán được và khi các shop bán hàng online thì cũng phải check inbox của khách hàng cũng như
                    số lượng hàng bán được trên Facebook, các sàn thương mại điện tử để chốt đơn hàng và giao hàng
                    tận nơi cho khách hàng. Do vậy có khi sẽ dẫn đến việc bỏ sót đơn hàng, không thống kê đủ được
                    lượng hàng mà mình đã bán ra, thông tin của khách hàng có thể sai sót,...
                </p>
                <p><img src="~/Public/img/image/intro-1.png" alt="" class="w-75"></p>
                <p>
                    Chính vì vậy, tập đoàn VNP Group đã cho ra đời dự án Nhanh.vn vào năm 2011. Đây là phần mềm quản
                    lý bán hàng đa kênh - công cụ giúp quản lý kinh doanh một cách dễ dàng với công nghệ lưu trữ và
                    xử lý dữ liệu mọi lúc mọi nơi. Giúp người quản lý theo dõi kiểm soát công việc kinh doanh một
                    cách hiệu quả nhất, giúp người bán hàng thao tác nhanh hơn, làm công việc năng xuất hơn.
                </p>
                <p><img src="~/Public/img/image/intro-2.png" alt="" class="w-75"></p>
                <h3>2. Hiểu rõ hơn về Nhanh.vn</h3>
                <p>
                    Hiện tại, Nhanh.vn là chuỗi giải pháp quản lý bán hàng số 1 tại Việt Nam, là dịch vụ bốn trong 1 gồm: phần mềm quản lý bán hàng, thiết kế web, phần mềm quản lý page Facebook và dịch vụ vận chuyển.
                </p>
                <h4>2.1. Phần mềm quản lý bán hàng</h4>
                <p>
                    Phần mềm quản lý bán hàng của Nhanh giúp quản lý sản phẩm, kho hàng, số lượng hàng bán, các chương trình khuyến mãi, đơn hàng vận chuyển, công nợ thu chi, khách hàng nhân viên, nhà cung cấp,... Tuy giúp quản lý nhiều đối tượng như vậy nhưng khi sử dụng lại rất dễ dàng. Mỗi đối tượng được quản lý, phần mềm sẽ đưa ra những thông tin cực kỳ chi tiết cho người bán hàng và chủ cửa hàng tiện theo dõi. Đây là phần mềm quản lý bán hàng rất thông minh.
                </p>
                <p><img src="~/Public/img/image/intro-3.png" alt="" class="w-75"></p>
                <h4>2.2. Thiết kế web</h4>
                <p>
                    Hiện nay, để bán hàng thì website là một công cụ không thể thiếu. Nhanh cung cấp dịch vụ thiết kế website một cách thuận tiện và đơn giản hơn so với đặt ở ngoài. Với đội ngũ thiết kế chuyên nghiệp, đảm bảo rằng thiết kế sẽ chuẩn SEO và giao diện tùy biến thông minh cho người dùng lựa chọn.
                </p>
                <h4>2.3. Phần mềm quản lý page Facebook</h4>
                <p>
                    Chắc hẳn khi quản một fanpage để bán hàng thì sẽ gặp khó khăn như: page quá nhiều thành viên, inbox và comment nhiều quá không thể quản lý được. Thì khi sử dụng phần mềm quản lý page Facebook của Nhanh sẽ quản lý được thông tin của từng thành viên, không bỏ sót bất kỳ inbox và comment nào,  sẽ nhanh chóng ẩn những comment có thông tin của khách hàng để tránh bị ăn cắp, biết được rõ những lần mà khách đã mua hàng,..
                </p>
                <h4>2.4. Dịch vụ vận chuyển</h4>
                <p>
                    Nhanh đang kết nối với những hãng vận chuyển uy tín nhất như: Viettel Post, VietNam Post, Giaohangtietkiem, Giaohangnhanh và Ecotrans. Khi sử dụng dịch vụ vận chuyển thông qua Nhanh thì các chủ cửa hàng nhỏ lẻ sẽ được nhân viên của các hãng vận chuyển đến  lấy hàng tận nơi. Ngoài ra Nhanh còn có đội ngũ chăm sóc khách hàng để nhanh chóng giải quyết những vấn đề xảy ra trong quá trình vận chuyển. Khi sử dụng dịch vụ giao hàng thu tiền hộ thì tiền thu hộ các shop sẽ nhận được một cách nhanh chóng nhất và nhận được chiết khấu cao.
                    <br><br>
                    Vậy Nhanh cung cấp một phần mềm quản lý bán hàng đa kênh giúp chủ cửa hàng và người bán hàng quản lý một cách xuyên suốt các hoạt động bán hàng của mình. Các đơn hàng từ website, Facebook, sàn thương mại điện tử sẽ được chuyển về phần mềm bán hàng của Nhanh rồi lựa chọn hãng vận chuyển để giao hàng đến cho khách hàng. Chính vì thế mà Nhanh đang là lựa chọn của rất nhiều shop trên địa bàn cả nước.
                </p>
                <p><img src="~/Public/img/image/intro-4.png" alt="" class="w-75"></p>
                <p>Qua bài viết trên mong sẽ giúp các bạn hiểu hơn về T-house</p>
            </div>
        </div>
    </div>
</section>

