
@{
    ViewBag.Title = "ProductNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="wrap-cart">
            <div class="product-empty" style="padding: 40px 0;">
                <img src="~/Public/img/image/no-product.png" alt="Giỏ hàng của bạn đang trống" class="d-block m-auto" width="250" />
                <p class="text-center font-weight-bold" style="opacity: .6;">Danh mục chưa có sản phẩm!</p>
                <div class="btn rounded-0 m-auto d-block" style="width:200px; background:#ee4d2d">
                    <a href="/" class="text-light text-decoration-none">Quay về Trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</section>

