@{
    Layout = null;
}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>T-House</h4>
                <ul>
                    <li class="footer-text">
                        Địa chỉ: 102 Thái Thịnh, Phường Trung Liệt, Quận Đống Đa, Thành phố Hà
                        Nội, Việt Nam
                    </li>
                    <li class="footer-text">Email: contact@nhanh.vn</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Chính sách</h4>
                <ul>
                    <li><a href="~/gioi-thieu" class="footer-text">Giới thiệu</a></li>
                    <li><a href="~/tin-tuc" class="footer-text">Tin tức</a></li>
                    <li><a href="" class="footer-text">Tra cứu đơn hàng</a></li>
                    <li><a href="#" class="footer-text notready">Tuyển dụng</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Dịch vụ và Hỗ trợ</h4>
                <ul>
                    <li><a href="#" class="footer-text notready">Hướng dẫn mua hàng</a></li>
                    <li><a href="~/lien-he" class="footer-text">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Mạng xã hội</h4>
                <a href="#" class="footer-social notready"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="footer-social notready"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="footer-social notready"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
