<div style="display:block;overflow:hidden;background:lightblue;width:100%;max-width:640px;margin:auto">
    <div width="100%" border="0" style="border-bottom:12px solid #fdd504" >
    </div>
    <div width="100%" border="0" style="padding-bottom:10px; margin-bottom: px;">
        <div style="font-size:13px;color:#333;padding:10px 10px 0 10px">Chào anh/chị <b>{{FullName}}</b>,</div>
    </div>
    <div width="100%" border="0" style="padding-bottom:10px;">
        <div style="font-size:13px;color:#333;padding:5px 10px 10px 10px">Quản trị viên <b>{{AdminName}}</b> xin được phản hồi câu hỏi của anh/chị như sau :</div>
    </div>
    <div width="100%" border="0">
        <div style="font-size:13px;color:#333;padding:10px">Chào anh/chị,<br>{{Reply}}</div>
    </div>
    <div width="100%" border="0" style="padding-bottom:10px">
        <div style="font-size:13px;color:#333;padding:20px 10px 10px 10px">
            Câu hỏi trước của anh: <span style="font-style:italic">'{{RQ}}'</span>
        </div>
    </div>
    <div width="100%" border="0">
        <div style="font-size:13px;color:#333;padding:15px 10px 0 10px">
            Cảm ơn anh/chị {{FullName}} đã phản hồi với 
            <a href="javascript::void(0)" style="color: #e41b35 !important; text-decoration: none !important" target="_blank">Công ty</a>, 
            cần thêm thông tin anh vui lòng liên hệ 0948.135.903 hoặc xem thêm các phản hồi khác tại <a href="javascript::void(0)" target="_blank">Link</a>
        </div>
    </div>

    <div width="100%" border="0">
        <div style="float: right; text-align: center; color: #e41b35; padding: 15px 10px 15px 0px">
            {{AdminName}}<br>
            Quản trị viên giadunghiendai.com
        </div>
    </div>

    <div width="100%" border="0" style="background: #e41b35; color: #fff; ">
        <div style="display: block; margin-top: 66px; font-size: 13px; padding: 10px 10px 10px 20px">
            <b style="display:block">Kinh doanh đồ gia dụng <a href="javascript::void(0)" style="color:#ffffff!important" target="_blank">giadunghiendai.com</a> - Thuộc Công ty TNHH Gia Dụng</b>
            <p>Địa chỉ: Việt Nam</p>
        </div>
    </div>
</div>